extends layout

block content
  h1= title
  
  p Greetings! Welcome to #{title}
  form(action='#{messageURL}', method='post')
    input(type='text',name ='message',placeholder='Enter a message',size ='40')
    input(type='Submit',name='submit',value='submit')
  
  p Find your message in #{title}
  form(action='#{searchURL}', method='post')
    input(type='text',name ='message',placeholder='Enter a search text',size ='40')
    input(type='Submit',name='submit',value='search')
    
  
    
 
  
 

